.cases {
  background-color: #fff;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8vw 3.5vw;
}
.intro.h {
  padding-left: 11.3vw;
}

.left {
  max-width: 31vw;
  float: left;
  @include for-size(phone-only) {
    max-width: 36vw;
  }

  h3 {
    color: #333;
    font-size: 3.35vw;
    line-height: 3.8vw;
    letter-spacing: -0.03em;
    text-transform: none;
    font-family: "NW-Regular", sans-serif;
    @include for-size(phone-only) {
      font-size: 5vw;
      letter-spacing: -0.01em;
      line-height: 5.5vw;
    }
  }
}

.right {
  max-width: 40vw;
  margin-left: 7vw;
  float: left;
  @include for-size(phone-only) {
    max-width: 44vw;
    margin-left: 5vw;
  }
}

.rightText {
  font-size: 1.3vw;
  color: #333;
  line-height: 2vw;
  font-weight: 300;
  padding-top: 1vw;
  @include for-size(phone-only) {
    font-size: 3vw;
    line-height: 4vw;
  }
}

/////wrapper//////

.wrapper {
  display: inline-block;
  width: 100%;
  padding: 8vw 3.5vw 8vw;
  position: relative;
}

.wrapper1 {
  padding-left: 1vw;
  height: 50.3vw;
}

.item1 {
  position: relative;
  height: 52.3vw;
  display: inline-block;
  max-width: 100%;
}

.itemimg-1 {
  width: 30vw;
  float: left;
  margin: 0 0 10px;
  /* filter: grayscale(100%); */
}
.itemimg-1 img {
  vertical-align: top;
  transition: all 300ms linear;
}

.itemimg-1 img:hover {
  transform: scale(1.1);
}
@media (min-width: 991px) {
  .itemimg-1 {
    width: 37vw;
    float: left;
    margin: 0 0 10px;
  }
}

.portrait {
  max-width: 100%;
}

.portrait img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.item-w {
  display: flex;
  height: 100%;
  margin-left: 2vw;
  float: right;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 991px) {
  .item-w {
    display: flex;
    height: 100%;
    margin-left: -5vw;
    float: right;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
  }
}

.item-title {
  padding-top: 2vw;
  font-size: 3.9vw;
  line-height: 2.4vw;
  display: block;
  letter-spacing: -0.03em;
  font-family: "NW-Regular", sans-serif;
  @include for-size(phone-only) {
    font-size: 8vw;
    line-height: 4vw;
  }
}

.item-title.sub {
  padding-top: 0;
  font-size: 1.7vw;
  line-height: 3.2vw;
  letter-spacing: -0.09em;
  font-family: unset;

  @include for-size(phone-only) {
    padding-top: 0.4em;
    font-size: 4vw;
    line-height: 3vw;
  }
}

.vp {
  display: flex;
  margin-top: 2vw;
  align-items: center;
}

.vp-cap {
  position: relative;
  margin-left: 0.3vw;
}

.vp-t {
  padding-top: 0;
  font-size: 1vw;
  text-transform: none;
}

@media (max-width: 767px) {
  .vp-t {
    padding-top: 3vw;
    font-size: 3vw;
  }
}

.item-no {
  font-family: "NW-Regular", sans-serif;
  font-size: 27vw;
  line-height: 19vw;
  font-weight: 700;
  text-align: left;
  font-weight: 400;
}

.number {
  font-family: "NW-Regular", sans-serif;
  color: #333;
  font-size: 27vw;
  line-height: 19vw;
  text-align: left;
  margin-bottom: 1vw;
}

.wrapper2 {
  top: -30vw;
  float: right;
  position: relative;
}

.item2 {
  position: relative;
  display: flex;
  float: right;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.itemimg-2 {
  width: 25vw;
  float: left;
  margin: 0 0 10px;
  /* filter: grayscale(100%); */
}

.itemimg-2 img {
  vertical-align: top;
  transition: all 300ms linear;
}

.itemimg-2 img:hover {
  transform: scale(1.1);
}

.item-w.no2 {
  flex-direction: row;
  margin-left: 0;
  margin-top: 1.5vw;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: flex;
  justify-content: space-between;
}

.number.no2 {
  font-size: 20vw;
  text-align: right;
  font-family: "Neue World";
}

/* wrapper 3 */

.wrapper3 {
  top: 16vw;
  /*i just added this*/
  float: left;
  position: relative;
}

@media (min-width: 991px) {
  .wrapper3 {
    right: unset;
  }
}

.itemimg-3 {
  width: 40.5vw;
  /* filter: grayscale(100%); */
}

.itemimg-3 img {
  vertical-align: top;
  transition: all 300ms linear;
}

.itemimg-3 img:hover {
  transform: scale(1.1);
}

.item-w.no3 {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  float: unset;
  margin-left: 0vw;
  margin-top: 2vw;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.number.no3 {
  position: absolute;
  right: -7.8vw;
  bottom: -0.7vw;
}

/* number 4 */

.wrapper4 {
  top: 56vw;
  left: 28vw;
  float: left;
  position: relative;

  @include for-size(phone-only) {
    left: 25vw;
  }
}

.item4 {
  position: relative;
  display: flex;
  float: right;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.itemimg-4 {
  width: 25vw;
  float: right;
  margin: 0 0 10px;
  /* filter: grayscale(100%); */
}

.itemimg-4 img {
  vertical-align: top;
  transition: all 300ms linear;
}

.itemimg-4 img:hover {
  transform: scale(1.1);
}

/* number 5 */

.wrapper5 {
  top: 35vw;
  right: 40vw;
  float: left;
  position: relative;
  @include for-size(phone-only) {
    left: 1vw;
    left: 40vw;
  }
}

.item5 {
  position: relative;
  display: flex;
  float: left;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.itemimg-5 {
  width: 35vw;
  float: left;
  margin: 0 0 10px;
  filter: grayscale(100%);
}
